.css-onkibi {
    width: 2rem;
    height: 2rem;
}

.css-r6z5ec {
    transform: translate3d(0px, 48px, 0px) !important;
    height: 113%;
    background-color: #0DA7D9;
}

.css-1ozmk1d {
    height: 100%;
    background-color: #0DA7D9 !important;
    color: #FFFF !important;
    outline: none;
    border: 0;
}
.css-1abfxmx:focus {
    background: none !important;
} 

.css-1zkhgy:focus, .css-1zkhgy[data-focus] {
    background: none !important;
}

.css-1zkhgy:focus, .css-1zkhgy[data-focus] {
    background: none !important;
}
.css-1zkhgy:focus, .css-1zkhgy[data-focus] {
    background: none !important;
}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}
.css-nc7x8q:focus, .css-nc7x8q[data-focus] {
    background: none !important;

}

.chakra-menu__group {
    width: 100%;
}